@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.font {
	text-align:center;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 1.5em;
	letter-spacing: 2px;
	word-spacing: 2px;
}

body{
	background-color: #000000;
	text-align: center;
}
h1 { color:#FFFFFF;

}
p{
	color:#FFFFFF;
	font-family:  Arial, sans-serif;
}

img {
	width:20cm;
	height: 15cm;
	opacity: 0.5;
}

#line1 { 
	width: 400px;
}


#slogan {

	font-style: italic;
}

#title {
	text-decoration: underline;
}

#main { 
	width: 40em;
	margin: 2em auto;
 }