* { 
padding: 0;
margin: 0;
box-sizing: border-box; 
}

body { 
font-family: Arial, sans-serif;
font-size: 20px;
line-height: 1.5;
 }

 h1, h2, h3 { 
 	font-weight: 300;
  }

 h1 { 
color: #3A6AE2
  }


a { 
	color:#C76738;
	text-decoration:none;
 }

header {
	padding:40px 0;
}

#nav {
	text-align: left;
	background-color:#D7EFF2;
}

#nav a { 
	text-align: center;
	color:#000000;
	display:block;
	float: left;
	margin: 5px;
	padding: 10px 20px 10px 10px;
	width: 200px
 }

nav a:hover { 
	background-color:#3A6AE2;
 }

 #title {
 	text-align: center;  
	}

#slogan { 
	text-align: center;
 }

/*main { 
	width: 700px;
	float: left;
 }
*/
 article {
 	padding: 20px 0;
 	border-bottom: 1px solid #808080;
 }

hr { 
  color: #808080;
  width: 200px;
 }

 .center { 
 	display: block;
   	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  }

  .project { 
    text-align: justify;
   }

#upcoming {
  font-weight: bold;
}

#german { 
font-weight: bold }

 .picture_one {
 	margin: 5px 1px 5px 16px;
  
 }

 #work { 
  padding-top: 2%;
  text-align: justify;
  font-weight: bold;
  }

#two_column_one {
    background-color: #66CCFF ;
    border: none;
    padding: 20px;
}


#left_one {
    background-color: #66CCFF;
    text-align: justify;
    border: none;
    padding: 10px 2px 10px 2px;
    float: left;
    width: 48%;
}



#right_one {
    background-color: #66CCFF;
    text-align: justify;
    border: none;
    padding:20px 10px 20px 10px;
    float: right;   
    width: 50%;
}

#cliental { 
font-weight: bold;
 }

#two_column {
    background-color: #66CCFF;
    border: none;
    padding: 20px;
}


#left {
    background-color:#66CCFF;
    text-align: justify;
    border: none;
    padding: 20px 10px 20px 10px;
    float: left;
    width: 48%;
}



#right {
    background-color: #66CCFF;
    border: none;
    padding:20px 10px 20px 10px;
    float: right;   
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

  #wrapper { 
  	width: 1080px;
  	margin-left: auto;
  	margin-right: auto;
   }


    footer { 
  clear:both;
  background-color:#3A6AE2;
  padding: 20px;
  }

  
  footer a { 
    color:#000000;
   }

  footer p { 
    float: right;
   }